<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.tigercc.mapper.UserBaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yjhking.tigercc.domain.UserBaseInfo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="reg_channel" property="regChannel" />
        <result column="qq" property="qq" />
        <result column="level" property="level" />
        <result column="grow_score" property="growScore" />
        <result column="refer_id" property="referId" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="area_code" property="areaCode" />
        <result column="address" property="address" />
    </resultMap>

</mapper>
