<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.tigercc.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yjhking.tigercc.domain.Teacher">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="technology" property="technology" />
        <result column="position" property="position" />
        <result column="head_img" property="headImg" />
        <result column="tags" property="tags" />
    </resultMap>

</mapper>
