<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.tigercc.mapper.PayOrderMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yjhking.tigercc.domain.PayOrder">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="amount" property="amount"/>
        <result column="pay_type" property="payType"/>
        <result column="relation_id" property="relationId"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="ext_params" property="extParams"/>
        <result column="subject" property="subject"/>
        <result column="pay_status" property="payStatus"/>
    </resultMap>
</mapper>
