<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.tigercc.mapper.KillActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yjhking.tigercc.domain.KillActivity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="time_str" property="timeStr" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="publish_status" property="publishStatus" />
        <result column="publish_time" property="publishTime" />
        <result column="cancel_publish_time" property="cancelPublishTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
