<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.tigercc.mapper.LoginLogMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yjhking.tigercc.domain.LoginLog">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="login_id" property="loginId"/>
        <result column="ip" property="ip"/>
        <result column="client_info" property="clientInfo"/>
        <result column="login_type" property="loginType"/>
        <result column="success" property="success"/>
        <result column="remark" property="remark"/>
    </resultMap>
</mapper>
